body{
    background-color:lightgray;
}

nav{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
}

p{
    font-size: 20px;
}

button{
    background-color: black;
    text-transform: uppercase;
    font: bold;
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

input{
    margin-right: 5px;
    border: none;
    text-align: center;
    height: 29px;
    width: 175px;
}

.appLinkText{
    color: white;
    font-size: 25px;
    text-decoration: none;
    text-transform: none;
}

.homeDiv{
    font-size: 25px;
    text-align: center;
}

.teamsLinkText{
    color: black;
    text-decoration: none;
    text-transform: none;
}

.teamsHeader{
    text-align: center;
    font-size: 40px;
}

.teamsDiv{
    text-align: center;
}

.teamsListDiv{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
}

.teamsNameList{
    background-color: whitesmoke;
    flex-wrap: wrap;
    border-style: solid;
    width: 275px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 29px;
    margin-top: 15px;
}

.teamInfoDiv{
    background-color: whitesmoke;
    border-style: solid;
    text-align: center;
    margin-top: 15px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.teamStatsDiv{
    background-color: whitesmoke;
    border-style: solid;
    text-align: center;
    width: 50%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.teamRosterDiv{
    text-align: center; 
}

.rosterHeaderButtonDiv{
    background-color: whitesmoke;
    border-style: solid;
    margin-top: 15px;
    padding-bottom: 15px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.playersDiv{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
}

.singlePlayer{
    background-color: whitesmoke;
    flex-wrap: wrap;
    border-style: solid;
    width: 275px;
    margin-left: 29px;
    margin-top: 15px;
}

.standingsDiv{
    text-align: center; 
}

.standingsHeader{
    font-size: 40px;
}

.teamStandingsListDiv{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
}

.teamStandingsIndividual{
    background-color: whitesmoke;
    flex-wrap: wrap;
    border-style: solid;
    width: 250px;
    margin-left: 29px;
    margin-top: 15px;
}

@media (max-width: 1100px){

    .homeDiv{
        font-size: 15px;
    }

    img{
        width: 600px;
        height: 500px;
    }
}

@media (max-width: 800px){

    .appLinkText{
        font-size: 20px;
    }

    img{
        width: 500px;
        height: 400px;
    }

    .teamInfoDiv{
        width: 75%;
    }

    .teamStatsDiv{
        width: 75%;
    }

    .rosterHeaderButtonDiv{
        width: 75%;
    }

    .standingsHeader{
        font-size: 29px;
    }
}

@media (max-width: 600px){

    p{
        font-size: 15px;
    }

    .homeDiv{
        font-size: 10px;
    }

    .appLinkText{
        font-size: 15px;
    }

    img{
        width: 400px;
        height: 300px;
    }

    .teamsHeader{
        font-size: 30px;
    }

    .teamsNameList{
        font-size: 15px;
    }
}

@media (max-width: 500px){

    button{
        font-size: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .teamInfoDiv{
        width: 95%;
    }

    .teamStatsDiv{
        width: 95%;
    }

    .rosterHeaderButtonDiv{
        width: 95%;
    }
}

@media (max-width: 400px){

    button{
        font-size: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .appLinkText{
        font-size: 12px;
    }

    img{
        width: 300px;
        height: 200px;
    }

    .teamsHeader{
        font-size: 25px;
    }

    .header{
        font-size: 20px;
    }
}